.container ul {
  background-color: #43525e;
  width: auto;
  padding: 5px;
  margin: auto;
  border-radius: 20px;
  padding: 10px;
}
.container ul li {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}
.container li img {
  height: 70px;
}
.container p {
  color: #fff;
}
