* {
  padding: 0;
  margin: 0;
}

.home-section {
  background-color: #000000;
  display: flex;
  height: auto;
  width: 100%;
  justify-content: center;
}

.home-container {
  background-color: rgba(21, 163, 28, 0);
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 280px 0 0 170px;
  gap: 15px;
}

.home-container h1 {
  font-size: 70px;
  color: #ffffffa9;
  background-color: #0bc00500;
}

.home-container h3 {
  color: #ffffff;
  font-family: sans-serif;
}

.home-container button {
  width: 150px;
  height: 40px;
  padding: 5px;
  border: 1px solid #00000000;
  border-radius: 5px;
}

/* Image Container */
.home-picture-container {
  background-color: rgba(105, 245, 11, 0);
  width: 50%;
  overflow: hidden;
}

.home-section img {
  width: 70%;
  mask-image: linear-gradient(to top, black 100%, transparent 100%);
  -webkit-mask-image: linear-gradient(to left, black 100%, transparent 100%),
    linear-gradient(to right, black 100%, transparent 100%),
    linear-gradient(to bottom, black 50%, transparent 100%);
  -webkit-mask-composite: destination-in;
  mask-composite: exclude;
  flex-wrap: wrap;
  align-items: end;
}

@media only screen and (max-width: 768px) {
  .home-section {
    flex-direction: column;
    align-items: center;
  }

  .home-container,
  .home-picture-container {
    width: 100%;
  }

  .home-divider {
    display: none;
  }

  .home-title,
  .home-subtitle,
  .home-paragraph {
    padding-left: 20px;
    text-align: center;
  }

  .home-image {
    width: auto;
    height: 200px;
    border-radius: 90px;
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }

  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
