.container-proyectosList {
  width: 100%;
  height: auto;
  background-image: url(../../components//img/2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(245, 245, 220, 0);
  overflow: hidden;
}

.container-proyectosList header {
  padding: 50px;
  background-color: #ee821600;
  width: 100%;
  text-align: center;
}

.container-proyectosList header h1 {
  font-size: 70px;
  font-family: "Lexend Deca", sans-serif;
}

.container-proyectosList section {
  background-color: rgba(72, 233, 72, 0);
  width: 80%;
  margin: auto;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 3 columnas por defecto */
  grid-template-rows: 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". . .";
}

.container-proyectosList footer {
  background-color: rgba(161, 9, 9, 0);
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid black;
  overflow: hidden;
  -webkit-box-shadow: 0px 10px 5px 4px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 10px 5px 4px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 10px 5px 4px rgba(0, 0, 0, 0.46);
  flex-wrap: wrap;
}

.h3-footer {
  background-color: rgba(0, 255, 255, 0);
  margin-left: 30px;
  text-align: center;
  padding: 20px;
  font-size: 70px;
}

.container-listSkills {
  background-color: #b80a0a00;
  display: flex;
  margin: auto;
  margin-right: 60px;
}

@media only screen and (max-width: 1200px) {
  .container-proyectosList header h1 {
    font-size: 60px;
  }

  .container-proyectosList section {
    background-color: rgba(0, 255, 255, 0);
    width: 100%;
    margin: auto;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columnas en pantallas menores a 1200px */
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      ". ."
      ". ."
      ". .";
  }
  .container-proyectosList footer {
    background-color: rgba(161, 9, 9, 0);
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    justify-content: center;
    padding: 0px;
    border: 1px solid black;
  }

  .h3-footer {
    background-color: rgba(0, 255, 255, 0);
    margin-left: 30px;
    text-align: center;
    font-size: 60px;
  }
  .container-listSkills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 1 columna en pantallas menores a 480px */
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      ". . ."
      ". . .";
    margin: auto;
    gap: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .container-proyectosList header h1 {
    font-size: 60px;
  }
  .container-proyectosList section {
    grid-template-columns: 1fr 1fr; /* 2 columnas en pantallas menores a 768px */
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      ". ."
      ". ."
      ". .";
  }
  .container-proyectosList footer {
    background-color: rgba(161, 9, 9, 0);
    width: 80%;
    margin: auto;
    justify-content: center;
    padding: 0px;
    border: 1px solid black;
  }

  .h3-footer {
    background-color: rgba(0, 255, 255, 0);
    margin-left: 30px;
    text-align: center;
    font-size: 60px;
  }
  .container-listSkills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 1 columna en pantallas menores a 480px */
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      ". . ."
      ". . .";
    margin: auto;
    gap: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .container-proyectosList header h1 {
    font-size: 60px;
  }
  .container-proyectosList section {
    grid-template-columns: 1fr; /* 1 columna en pantallas menores a 480px */
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "."
      "."
      ".";
  }
  .container-proyectosList footer {
    background-color: rgba(161, 9, 9, 0);
    width: 100%;
    margin: auto;
    justify-content: center;
    padding: 0px;
    border: none;
  }

  .h3-footer {
    background-color: rgba(0, 255, 255, 0);
    margin-left: 30px;
    text-align: center;
    font-size: 60px;
  }
  .container-listSkills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 1 columna en pantallas menores a 480px */
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      ". . ."
      ". . .";
    margin: auto;
    gap: 10px;
  }
}
