.container-proyecto {
  height: 80%;
  width: 100%;
  background-image: url(../../components//img/2.png);
}
header {
  padding: 50px;
  background-color: rgba(238, 130, 22, 0);
  width: 100%;
  text-align: center;
}
header h1 {
  font-size: 70px;
  font-family: "Lexend Deca", sans-serif;
}

section {
  background-color: rgba(0, 255, 255, 0);
  width: 80%;
  margin: auto;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
}
