.navbar-custom {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  height: 100px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  position: relative;
}

.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  width: 200px;
  height: auto;
  object-fit: cover;
}

.nav-link-custom {
  color: #000000d7;
  text-decoration: none;
  padding: 30px;
  transition: color 0.3s ease;
  font-size: 20px;
}

.nav-link-custom:hover {
  color: #383434;
}

.container-custom-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav-Collapse-custom {
  background-color: rgba(204, 195, 195, 0);
  display: flex;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
}

.nav-Collapse-custom.show {
  transform: translateX(0); /* Move to the visible position */
  opacity: 1; /* Fully visible */
}

.navbar-close-btn {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: #000;
  font-size: 2em;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navbar-close-btn:hover {
  color: #383434;
}

@media (max-width: 767px) {
  .navbar-custom {
    position: fixed;
    padding: 10px 0;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    overflow: hidden;
    z-index: 1000;
  }

  .navbar-custom.open .nav-Collapse-custom {
    transform: translateX(0); /* Slide in from the left */
    opacity: 1; /* Make sure it is visible */
  }

  .navbar-close-btn {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-custom {
    width: 100%;
  }

  .nav-toggler-custom {
    position: absolute;
    left: 40px;
    top: 40px;
  }

  .nav-Collapse-custom {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #047488;
    border-radius: 0px;
    width: 200px;
    height: 100vh;
    padding: 10px;
    transform: translateX(-100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 1;
  }

  .container-custom-nav {
    flex-direction: column;
  }

  .nav-link-custom {
    padding: 15px;
    font-size: 18px;
  }

  .navbar-close-btn {
    display: block;
  }
}
