.navbar-custom {
  background-color: #b10f0f00;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  position: relative;
  padding: 30px;
}

.nav {
  background-color: #b8050500;
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  text-align: center;
}

.nav-link-custom {
  color: #000000d7;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 20px;
  background-color: #04748800;
}

.nav-link-custom:hover {
  color: #383434;
}

.container-custom-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav-Collapse-custom {
  background-color: rgba(204, 195, 195, 0);
  display: flex;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
}

.nav-Collapse-custom.show {
  transform: translateX(0); /* Move to the visible position */
  opacity: 1; /* Fully visible */
}

.navbar-close-btn {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: #000;
  font-size: 2em;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navbar-close-btn:hover {
  color: #383434;
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-custom {
    width: 100%;
  }

  .nav-toggler-custom {
    position: absolute;
    left: 40px;
    top: 40px;
  }

  .nav-Collapse-custom {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ffff;
    border-radius: 0px;
    width: 200px;
    height: 100vh;
    padding: 10px;
    transform: translateX(-100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 1;
  }

  .container-custom-nav {
    flex-direction: column;
  }

  .nav-link-custom {
    padding: 15px;
    font-size: 18px;
  }

  .navbar-close-btn {
    display: block;
  }
}
@media (max-width: 470px) {
  .navbar-custom {
    width: 100%;
  }

  .nav-toggler-custom {
    position: absolute;
    left: 10px;
    top: 40px;
    background-color: #ffffffa8;
  }

  .nav-Collapse-custom {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ffffff;
    border-radius: 0px;
    width: 200px;
    height: 100vh;
    padding: 10px;
    transform: translateX(-100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 1;
  }

  .container-custom-nav {
    flex-direction: column;
   
  }
  .nav{
    margin-top: 60px;
  }
  .nav-link-custom {
    padding: 10px;
    font-size: 18px;
    background-color: #38343400;
    
  }

  .navbar-close-btn {
    display: block;
  }
  .navbar-close-btn:hover {
    background-color: rgba(0, 0, 0, 0);
  }
}
