.redes {
  margin: auto;
  justify-content: flex-end;
  height: 100%;
}

.redes ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  background-color: rgba(0, 255, 255, 0);
  padding: 0;
  width: 100%; /* Asegura que ul ocupe todo el ancho del contenedor .redes */
  margin: 0;
}

.redes ul li {
  padding: 10px;
  display: flex;
}
.redes ul li a {
  background-color: rgba(121, 76, 16, 0);
  cursor: pointer;
  text-decoration: none;
  color: black;
  padding-left: 390px;
}

.redes li img {
  height: 30px;
  margin-right: 10px;
}

@media only screen and (min-width: 200px) and (max-width: 1080px) {
  .redes {
    margin: auto;
    justify-content: center;
    width: 100%;
    background-color: rgba(0, 255, 255, 0);
  }
  .redes {
    margin: auto;
  }

  .redes ul li a {
    background-color: rgba(121, 76, 16, 0);
    cursor: pointer;
    text-decoration: none;
    color: black;
    padding: 0px;
    margin: auto;
  }

  .redes li img {
    height: 30px;
    margin-right: 10px;
  }
}
