* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}


h2 {
  font-family: "Lexend Deca", sans-serif;
  color: #fa5f34;
}

p,
a {
  font-family: "Lexend Deca", sans-serif;
}
button {
  font-family: "Lexend Deca", sans-serif;
}

