* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

h1,
h2 {
  font-family: "Lexend Deca", sans-serif;
}

p,
a {
  font-family: "Bodoni Moda SC", serif;
}
button {
  font-family: "Bodoni Moda SC", serif;
}
